.detail-block {
    position: absolute;
    top: 0;
    width: 480px;
    min-width: 435px;
    height: 100vh;
    background-color: white;
    z-index: 999;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    display: flex;
    box-shadow: 0px 0px 10px rgb(35, 35, 35);
    transition: opacity 1s, transform 1s;
    overflow: hidden;
}

.detail-close {
    display: inline-block;
    font-size: 30px;
    color: #51C6EB;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    border-color: #51C6EB;
    padding: 7px 20px;
    cursor: pointer;
}

.detail-close::after {
    display: inline-block;
    content: "\00d7";
    font-size: 36px;
}

.detail-close:hover {
    color: #fff;
    background-color: #51C6EB;
}

.detail {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
    border-bottom: 5px solid #D9D9D9; /* 하단에 선 추가 */
    text-align: left; /* 글자 왼쪽 정렬 */
    font-size: 15px; /* 글꼴 크기 */
    color: #374957; /* 글자 색상 */
}

#detail-img {
    margin-top: 20px;
    border-radius: 20px;
    width: 415.5px;
}

.detail-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.locationicon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookmarkicon{
    margin-top: 30px;
}

.locationicon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bookmarkicon button:hover,
.locationicon:hover {
    background-color: #51C6EB;
    color: #fff;
}

.locationicon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* 추가 */
    margin-right: 24px;
}

.locationicon {
    width: 64px;
    height: 70px;
    background-size: cover;
    background-image: url('./SVG/location.svg');
}

.locationicon-container h4 {
    margin-top: 5px; /* 버튼과 텍스트 사이 간격 조절 */
}

#update {
    color: gray;
    font-size: smaller;
}

button h4 {
    margin: 0; /* 기본 마진 제거 */
}

.detail p {
    font-size: 15px;
    color: #374957;
    margin-bottom: -3px; /* 글자 사이 간격 조절 */
}

.detail p.address {
    font-size: 18px; /* address 글씨 크기 */
    font-weight: 600;
    margin-bottom: 30px;
    color: black; /* 글자 색상 */
}

.detail p {
    font-size: 15px;
    color: #374957;
    margin-bottom: 5px; /* 각 <p> 요소의 하단에 5px 간격 추가 */
}

.address {
    font-size: 18px; /* address 글씨 크기 */
    color: black; /* 글자 색상 */
}

.operator {
    margin-top: 10px; /* address와 operator 사이 간격 조절 */
}

h1 {
    font-size: 29px;
    color: black;
    margin-bottom: 15px; /* h1과 p 사이 간격 */
}

h1 + p {
    margin-top: 0; /* p 요소의 상단 마진 제거 */
}