@font-face {
  font-family: 'KakaoRegular', sans-serif;
  font-weight: normal;
  src: url("./asset/fonts/KakaoRegular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'KakaoRegular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'KakaoRegular', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
